doctype html
head
  title Stardew Valley Vanilla IDs | Full 1.6 Item List
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  meta(name='keywords' content='stardew valley, ids, id, item, items, codes, list, 1.6, update, updated, spawn, truque da galinha, stardew, stardewvalley, cheat, stardew ids, itens, códigos')
  meta(name='description' content='Complete item cheatsheet guide to help you find all IDs of items in Stardew Valley, updated for 1.6. Quicky locate between objects, seeds, plants, furnitures, shirts, books and more!')
  meta(property='og:url' content='https://mateusaquino.github.io/stardewids/')
  meta(property='og:type' content='website')
  meta(property='og:title' content='Stardew Valley Vanilla IDs | Full 1.6 Item List')
  meta(property='og:description' content='Complete item cheatsheet guide to help you find all IDs of items in Stardew Valley, updated for 1.6. Quicky locate between objects, seeds, plants, furnitures, shirts, books and more!')
  meta(property='og:image' content='https://mateusaquino.github.io/stardewids/images/banner.png')
  meta(name='twitter:card' content='summary_large_image')
  meta(property='twitter:domain' content='mateusaquino.github.io')
  meta(property='twitter:url' content='https://mateusaquino.github.io/stardewids/')
  meta(name='twitter:title' content='Stardew Valley Vanilla IDs | Full 1.6 Item List')
  meta(name='twitter:description' content='Complete item cheatsheet guide to help you find all IDs of items in Stardew Valley, updated for 1.6. Quicky locate between objects, seeds, plants, furnitures, shirts, books and more!')
  meta(name='twitter:image' content='https://mateusaquino.github.io/stardewids/images/banner.png')
  meta(name='author' content='Mateus Aquino')
  meta(name='robots' content='index, follow')
  meta(name='googlebot' content='index, follow')
  meta(name='google-site-verification' content='WKKqv2GKnrNzOE-D7Wtc6gO4fZbwVoHWjICTGIEYiqA')
  link(rel='apple-touch-icon' sizes='180x180' href='favicon/apple-touch-icon.png')
  link(rel='shortcut icon' type='image/png' sizes='48x48' href='favicon/favicon-48x48.png')
  link(rel='icon' type='image/png' sizes='32x32' href='favicon/favicon-32x32.png')
  link(rel='icon' type='image/png' sizes='16x16' href='favicon/favicon-16x16.png')
  link(rel='manifest' href='favicon/site.webmanifest')

  style 
    include:clean-css ./styles.css
header
  h1
    img(src='images/icon.png' alt='Stardew Valley Vanilla IDs Icon' width='32' height='32')
    | Stardew Valley Vanilla IDs
  .header-right
    .country-wrapper
      dt#country-selected(onclick="openCountrySelect()")
        div.country-item
          span.flag(style='background-position:0px -44px')
          span.country English (en-US)
      dd#country-select
        ul
          li#select-en-US(onclick="selectCountry(event, 'en-US')")
            div.country-item 
              span.flag(style='background-position:0px -44px')
              span.country English (en-US)
          li#select-pt-BR(onclick="selectCountry(event, 'pt-BR')")
            div.country-item 
              span.flag(style='background-position:0px -770px')
              span.country Português (pt-BR)
          li#select-tr-TR(onclick="selectCountry(event, 'tr-TR')")
            div.country-item 
              span.flag(style='background-position:0px -1606px')
              span.country Türkçe (tr-TR)
          li#select-ru-RU(onclick="selectCountry(event, 'ru-RU')")
            div.country-item 
              span.flag(style='background-position:0px -660px')
              span.country Русский (ru-RU)
          li#select-ko-KR(onclick="selectCountry(event, 'ko-KR')")
            div.country-item 
              span.flag(style='background-position:0px -2245px')
              span.country 한국어 (ko-KR)
          li#select-ja-JP(onclick="selectCountry(event, 'ja-JP')")
            div.country-item 
              span.flag(style='background-position:0px -429px')
              span.country 日本語 (ja-JP)
          li#select-it-IT(onclick="selectCountry(event, 'it-IT')")
            div.country-item 
              span.flag(style='background-position:0px -143px')
              span.country Italiano (it-IT)
          li#select-hu-HU(onclick="selectCountry(event, 'hu-HU')")
            div.country-item 
              span.flag(style='background-position:0px -682px')
              span.country Magyar (hu-HU)
          li#select-fr-FR(onclick="selectCountry(event, 'fr-FR')")
            div.country-item 
              span.flag(style='background-position:0px -1012px')
              span.country Français (fr-FR)
          li#select-es-ES(onclick="selectCountry(event, 'es-ES')")
            div.country-item 
              span.flag(style='background-position:0px -1155px')
              span.country Español (es-ES)
          li#select-de-DE(onclick="selectCountry(event, 'de-DE')")
            div.country-item 
              span.flag(style='background-position:0px -2509px')
              span.country Deutsch (de-DE)

  .dialog
    p(data-translate="description1")
      | Tool developed by 
      a(href='https://github.com/MateusAquino/stardewids' rel="noopener" target='_blank') Mateus Aquino
      |  to help you find the IDs of items in Stardew Valley
      b  updated for the 1.6 update
      | .
    if env === 'development'
      img(src='https://img.shields.io/badge/env-development-04AA6D' alt='Visitor count')
    else
      img.hidden(src='https://visitor-badge.laobi.icu/badge?page_id=mateusaquino.stardewids.home&format=true&right_color=%2304AA6D' alt='Visitor count')
  .dialog
    h2(data-translate="spawn") Spawning items
    div(data-translate="description2")
      | You can spawn items by appending the item ID to your character's name and then talking to NPCs, or by 
      b buying a pet from Marnie
      |  appending the item ID to its name.
      br
      br
      | During early game you can easily trigger character's name spawns by 
      b  talking to Gus via phone
      |  (or Pierre before 12:00) and after unlocking the cinema you can spam it by
      b  inviting Jodi with a 
        a(href='https://stardewvalleywiki.com/Jodi#Movies_&_Concessions' rel="noopener" target='_blank') Love Concession
        |  to the movie theater
      |  (fastest spawn rate).
      br
      br
      | Be aware that certain item IDs 
      b may exceed the pet's name character limit
      | . In such instances, 
      | you can use the copy button provided by this tool to bypass the limit.
      |  It works by breaking lines to fit the codes into Marnie's text box width
      |  and wrapping the line breaks using the new 
      a(href='https://stardewvalleywiki.com/Modding:Migrate_to_Stardew_Valley_1.6#:~:text=Added%20new%20dialogue%20commands,male%20or%20female' rel="noopener" target="_blank") dialogue command
      | .
      br
      br
      b Warning: Use the item IDs below at your own risk. Doing so may affect your gaming experience.

  .tab
    each category in categories
      button.tablinks(onclick=`openTab(event, "${category.id}")`, class=category === categories[0] ? 'active' : '')&attributes(category.names)= category.names['data-en-US']
    button.tablinks(onclick="openTab(event, 'free')" data-translate="free") Free
main
  each category in categories
    div(id=category.id class=category === categories[0] ? 'tabcontent active' : 'tabcontent')
      if category.filters
        .category-filters
          each filter in Object.keys(category.filters)
            .action.filterButton(id=`filter-${category.id}-${filter}` data-translate-text=`category-${filter}` onclick=`toggleFilter(event, "${category.id}", "${filter}")` class=filter === Object.keys(category.filters)[0] ? 'active' : '')
              img(src=`data:image/png;base64,${category.items[category.filters[filter]].image}` alt="Filter category" loading="lazy")
      table.items-table
        tr
          th(data-translate="image") Image
          th(data-translate="item") Item
          th(data-translate="actions") Actions
        each item in category.items
          tr(data-type=item.objectType id=`[${category.prefix}${item.id}]`)
            td
              img(src=`data:image/png;base64,${item.image}` alt="Item" loading="lazy")
            td
              .item-name&attributes(item.names)= item.names['data-en-US']
              .item-id= `[${category.prefix}${item.id}]`
            td
              .group
                .action.copy(data-text="Copy" onclick=`clickCopy(event,'[${category.prefix}${item.id}]')`)
                .action.copyN(data-text="Copy many" onclick=`clickCopyN(event,'[${category.prefix}${item.id}]')`)
                .action.batch(data-text="Batch copy" onclick=`clickBatch(event,'[${category.prefix}${item.id}]')`)
  div#free.tabcontent.freetab
    div(data-translate="free-description")
      | This is an advanced section where you can freely type any content to be escaped into Marnie's dialogue box. This includes some 
      a(href='https://stardewvalleywiki.com/Modding:Dialogue' rel="noopener" target='_blank') dialogue commands
      |  and  
      a(href='https://stardewvalleywiki.com/Modding:Trigger_actions' rel="noopener" target='_blank') trigger actions
      | .
    div.converter
      textarea.textbox#free-in(data-translate="free-textarea" placeholder="Example:\n#$action AddMoney 100000")
      .arrowR
      .textbox#free-out(data-translate="free-textarea" readonly)

.modal
  .modal-content
    span.close &times;
    p(data-translate="modal-description") Type the number of items you want to copy:
    input#copyNInput(type="number" min="1" max="999" value="" placeholder="1-999")
    .modal-buttons
      button#copyNCancel(data-translate="cancel") Cancelar
      button#copyNConfirm(data-translate="copy" onclick="clickCopyN(event, currentCopyId)") Copiar


script
      include:minify-js strings.js
      include:minify-js utils.js
